// SIZE
$spinner-size: 15rem;
$header-heigh: 66px;
$user-menu-width: 23rem;
$min-width-sidebar: 250px;

// COLOR
$text-color: #292929;

$loading-screen-background: #1C1C1C;
$loading-screen-color: #ffffff;

$sidebar-background--dark: #343a40;
$sidebar-color: #c2c7d0;
$sidebar-menu-background--active: #007bff;
$sidebar-menu-color--active: #fff;
$sidebar-submenu-background--active: rgba(255, 255, 255, .9);
$sidebar-submenu-color--active: #343a40;
$sidebar--hover: rgba(255, 255, 255, .1);

$navbar-color: $text-color;
$navbar-color--hover: rgba(#ffffff, .9);
// $navbar-color--hover: #007bff;
// $navbar-fa-chevron-right-color: #9ca8b3;
$navbar-fa-chevron-right-color: #cbd3db;

$page-number-color: #007bff;
$page-number-background: #ffffff;
$page-number-color--active: #ffffff;
$page-number-background--active: #007bff;
$page-number-color--disabled: #6c757d;

$btn-color--primary: #ffffff;
$btn-color--secondary: #ffffff;
$btn-color--success: #ffffff;
$btn-color--danger: #ffffff;
$btn-color--warning: $text-color;
$btn-color--info: #ffffff;
$btn-color--light: $text-color;
$btn-color--dark: #ffffff;

$btn-background--primary: #007bff;
$btn-background--secondary: #6c757d;
$btn-background--success: #28a745;
$btn-background--danger: #dc3545;
$btn-background--warning: #ffc107;
$btn-background--info: #17a2b8;
$btn-background--light: #f8f9fa;
$btn-background--dark: #343a40;

// FONT
$font-family: 'Montserrat', Arial, Helvetica, sans-serif;

// FONT-SIZE
$sidebar-menu-font-size: 1.4rem;
$sidebar-submenu-font-size: 1.4rem;
$navbar-font-size: 1.4rem;
$search-box: 1.4rem;
$search-box-heading: 1.8rem;

$form-feedback-font-size: $search-box * 0.8;

// BORDER-RADIUS
$radius-default: 0.5rem;
$sidebar-radius: $radius-default;
$navbar-search-radius: $radius-default;