@import './utilities/mixin';
@import 'variables';
// @import 'box-jobs';
@import 'profile';

.company-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.detail {
    .company-info {
        &.box-white {
            padding-top: 2.4rem;
        }
    }
}