$bg: #EDF2F0;

$login-background: #ecf0f3;
$login-box-shadow-1: #f9f9f9;
$login-box-shadow-2: #d1d9e6;

$login-button-color: #f9f9f9;
$gray: #a0a5a8;
$black: #181818;

$purple: #4B70E2;


$transition: 1.25s;

.login-screen {
    // background: linear-gradient(to bottom right, #33ccff 0%, #cc66ff 100%);
    background: linear-gradient(to bottom right, #d8fafa 0%, #f7def7 100%);    width: 100%;
    height: 100vh;
    display: flex;
    @include center();
    color: $gray;
}

.login-container{
    position: relative;
    min-width: 100rem;
    min-height: 60rem;
	background-color: $login-background;
	box-shadow:
		1rem 1rem 1rem $login-box-shadow-2,
		-1rem -1rem 1rem $login-box-shadow-1;
	border-radius: 1.2rem;
	overflow: hidden;

	@media(max-width: 1200px){  transform: scale(.7); }
	@media(max-width: 1000px){  transform: scale(.6); }
	@media(max-width: 800px){  transform: scale(.5); }
	@media(max-width: 600px){  transform: scale(.4); }
    
    &--left{
        display: flex;
        @include center();
        position: absolute;
        width: 60rem;
        height: 100%;
        background-color: $login-background;
    }
    
    .form-login{
        display: flex;
        @include center();
        flex-direction: column;
        
        .input-sample {
            margin: 0.4rem 0;
            letter-spacing: .015rem;
            border: none;
            outline: none;
            background-color: $login-background;
            // transition: .25s ease;
            border-radius: 0.8rem;
            box-shadow:
            inset .2rem .2rem .4rem $login-box-shadow-2,
            inset -.2rem -.2rem .4rem $login-box-shadow-1;
            
        }

        .input-group-append {
            @extend .input-sample;
            @include border-left-radius(0);
        }
        
        &__input, &__role {
            padding-left: 2.5rem;
            @extend .input-sample;
            width: 35rem;
            height: 4rem;
    
            &:focus{
                box-shadow:
                    inset .4rem .4rem .4rem $login-box-shadow-2,
                    inset -.4rem -.4rem .4rem $login-box-shadow-1;
            }
        }

        .input-group {
            input {
                flex: 1 1 auto;
                width: 1%;

                &:not(:last-child) {
                    @include border-right-radius(0);
                }
            }

            &--append {
                margin-left: -1rem;
            }

            .fa-eye, .fa-eye-slash {
                font-size: 1.6rem;
                padding: 0 1.2rem;
                display: flex;
                align-items: center;
                cursor: pointer;
            }
        }

        &__link{
            color: $black;
            font-size: 1.5rem;
            margin-top: 2.5rem;
            border-bottom: 0.1rem solid $gray;
            line-height: 2;
        }

        &__title {
            font-size: 3.4rem;
            font-weight: 700;
            line-height: 3;
            color: $black;
        }

        &__button{
            width: 18rem;
            height: 5.0rem;
            border-radius: 2.5rem;
            margin-top: 5.0rem;
            font-weight: 700;
            font-size: 1.4rem;
            letter-spacing: 0.115rem;
            
            background-color: $purple;
            color: $login-button-color;
            box-shadow:
            .8rem .8rem 1.6rem $login-box-shadow-2,
            -.8rem -.8rem 1.6rem $login-box-shadow-1;
            
            border: none;
            outline: none;
        }

        &__button {
            cursor: pointer;
            &:hover{
                box-shadow:
                    .6rem .6rem 1rem $login-box-shadow-2,
                    -.6rem -.6rem 1rem $login-box-shadow-1;
                transform: scale(.985);
                transition: .25s;
            }
            &:active,
            &:focus{
                box-shadow:
                    .2rem .2rem .6rem $login-box-shadow-2,
                    -.2rem -.2rem .6rem $login-box-shadow-1;
                transform: scale(.97);
                transition: .25s;
            }
        }
    }
}

.switch{
    display: flex;
    @include center();
    position: absolute;
    height: 100%;
    width: 40rem;
    transition: $transition;
    background-color: $login-background;
    overflow: hidden;
	box-shadow:
		.4rem .4rem 1rem $login-box-shadow-2,
		-.4rem -.4rem 1rem $login-box-shadow-1;

    &__title {
        @extend .form-login__title;
    }

    &__description{
        font-size: 1.4rem;
        letter-spacing: 0.025rem;
        text-align: center;
        line-height: 1.6;
    }

    &__circle{
        position: absolute;
        width: 50rem;
        height: 50rem;
        border-radius: 50%;
		background-color: $login-background;
		box-shadow:
			inset .8rem .8rem 1.2rem $login-box-shadow-2,
			inset -.8rem -.8rem 1.2rem $login-box-shadow-1;

        bottom: -60%;
        left: -50%;
        // transition: $transition;

        &--t{
            top: -30%;
            left: 60%;
            width: 30rem;
            height: 30rem;
        }
    }

    &__container{
        display: flex;
        @include center();
        flex-direction: column;
        position: absolute;
        width: 40rem;
        padding: 5rem 5.5rem;
        transition: $transition ;
    }
}


.is-txr{
    left: calc(100% - 40rem );
    transition: $transition;
    transform-origin: left;
}

// .is-txl{
//     left: 0;
//     transition: $transition;
//     transform-origin: right;
// }
// .is-z200{
//     z-index: 200;
//     transition: $transition;
// }
// .is-hidden{
//     visibility: hidden;
//     opacity: 0;
//     position: absolute;
//     transition: $transition;
// }
// .is-gx{
//     animation: is-gx $transition;
// }
// @keyframes is-gx {
//     0%, 10%, 100%{ width: 400px; }
//     30%, 50%{ width: 500px;}
// }
