@mixin box-1 () {
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: $navbar-search-radius;
    font-size: $search-box;
    box-shadow: 0 0 1px rgba(0, 0, 0, .13), 0 1px 3px rgba(0, 0, 0, .2);
}

.box-white {
    background: #fff;
    border: 1px solid #eee;
    border-radius: $radius-default;
    box-shadow: -1px 1px 6px rgba(0, 0, 0, .05);
    margin-bottom: 1.6rem;
    padding: 2.4rem;

    .title {
        border-left: 5px solid #00b14f;
        padding-left: 0.8rem;
    }

    .box-body {
        padding-top: 1.9rem;
    }
}