<div class="container">
    <div class="footer__logo">
        <img src="/img/fit-utehy-logo.png" alt="Logo Fit UTEHY">
    </div>
    <div class="footer__contact">
        <div class="contact">
            <h2 class="text-uppercase">Thông tin liên hệ</h2>
            <div class="address">Địa chỉ: Phường Nhân Hòa, Mỹ Hào, Hưng Yên</div>
            <div class="email">Email: fitutehy@gmail.com</div>
            <div class="phone-number">Điện thoại: 02213.767.188</div>
            <div class="website"><a href="http://fit.utehy.edu.vn"></a></div>
        </div>
    </div>
    <div class="footer__social-media">
        <div class="facebook"><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
        <div class="youtube"><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a></div>
    </div>
</div>