<div class="header__logo">
    <a href="/">
        <img src="/img/fit-utehy-logo.png" alt="FIT UTEHY Logo">
    </a>
    <h4 class="header__title">Hệ thống quản lý sinh viên thực tập khoa CNTT</h4>
</div>
<!-- <div class="header__body">

</div> -->
<div class="header__actions">
    <i class="fa fa-bell fa-2x"></i>
    <img src="/img/avatar.jpg" alt="Tên tài khoản" class="header__avatar" aria-expanded="false">
    <div class="user-menu">
        <ul class="user-menu__wrapper">
            <ul class="user-menu__user">
                <img src="/img/avatar.jpg" alt="Tên tài khoản" class="user-menu__avatar">
                <div class="user-menu__infor">
                    <div class="user-menu__name">Lê Việt Anh</div>
                    <div class="user-menu__user-name">@le-viet-anh</div>
                </div>
            </ul>
            <hr>
            <ul class="user-menu__list">
                <li>
                    <a href="">Cài đặt</a>
                </li>
                <li><a href="">Đăng xuất</a></li>
            </ul>
        </ul>
    </div>
</div>
