<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="/img/fit-utehy-logo.png">

    <link rel="stylesheet" href="/css/app.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap">
    <style>
        body {
            font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        }
    </style>
</head>
    
<body>
    <div class="login-screen">
        <div class="login-container">
            <div class="login-container--left">
                <form class="form-login" id="login-form">
                    <h2 class="form-login__title">Sign in to Website</h2>
                    <select name="role" class="form-login__role">
                        <option value="1">Admin</option>
                        <option value="2">Giảng viên</option>
                        <option value="3">Sinh viên</option>
                        <option value="4">Cán bộ doanh nghiệp</option>
                    </select>
                    <input name="account" class="form-login__input" type="text" placeholder="Account">
                    <div class="input-group">
                        <input name="password" class="form-login__input" type="password" placeholder="Password">
                        <div class="input-group-append">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </div>
                    </div>
                    <a class="form-login__link">Forgot your password?</a>
                    <button class="form-login__button">SIGN IN</button>
                </form>
            </div>
            
            <div class="switch is-txr">
                <div class="switch__circle"></div>
                <div class="switch__circle switch__circle--t"></div>
                <div class="switch__container">
                    <h2 class="switch__title">Lorem ipsum !</h2>
                    <p class="switch__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <!-- <h2 class="switch__title">Hello Friend !</h2>
                    <p class="switch__description">Enter your personal details and start journey with us</p> -->
                </div>
            </div>
        </div>
        
    </div>
    <script src="/jquery.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script> -->
    <!-- <script src="/crypto-js/index.js"></script>
    <script src="/crypto-js/aes.js"></script> -->
    <script src="/js/login.js" type="module"></script>
    <script src="/js/util/aes.js"></script>
</body>

</html>