<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="shortcut icon" href="/img/fit-utehy-logo.png">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"> -->

  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/app.css">

</head>

<body class="container-internship">
  <!-- Loading screen -->
  <div class="loading-screen" id="loading-screen">
    <div class="spinner__container">
      <img src="/img/loading.svg" />
      <div class="spinner"></div>
    </div>
    <p>Loading your dashboard...</p>
  </div>
  <!-- ./loading screen -->

  <div class="header include-html" data-file="../partials/header.html"></div>
  <div class="sidebar-with-content">
    <div class="sidebar pt-2 include-html" data-file="../partials/sidebar.html"></div>
    <div class="container">
      <div class="client-page background-white"></div>
      <div class="client-page navbar">
        <div class="nav-address">
          <ul>
            <li><a href="/job">Việc làm</a></li>
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
            <li><a href="">Thực tập sinh Network</a></li>
          </ul>
        </div>
      </div>
      <div class="box-white box-detail-job">
        <a href="/company-list/company-bkav" title="Công ty Cổ phần Tập đoàn Trí Nam"
          class="company-logo">
          <div class="box-company-logo">
            <img src="/img/DM_20220618001231_001.jpg" alt="Công ty Cổ phần Tập đoàn Trí Nam" class="img-responsive">
          </div>
        </a>

        <div class="box-info-job">
          <h1 class="job-title text-highlight bold" style="overflow-wrap:break-word;">
            Thực tập sinh Network
          </h1>
          <h3 class="company-title">
            <a href="/company-list/company-bkav">
              Công ty cổ phần Bkav</a>
          </h3>

          <div class="job-deadline">
            <i class="fa fa-clock-o"></i> Hạn nộp hồ sơ: 31/07/2022
          </div>
        </div>

        <div class="box-apply-current ml-auto">
          <button class="btn btn-apply-current">
            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
            <span class="text-uppercase">Ứng tuyển ngay</span>
          </button>
        </div>
      </div>

      <div class="detail-recruitment">
        <!-- recruitment-info box-white -->
        <div class="recruitment-info box-white">
          <h2 class="title">Chi tiết tin tuyển dụng</h2>
          <div class="box-body">
            <div class="general bg-highlight">
              <h4>Thông tin chung</h4>
              <div class="general-main">
                <div class="general-item">
                  <img src="/img/DM_20220618004520_001.svg" alt="">
                  <div>
                    <strong>Mức lương </strong>
                    <br>

                    <span>Trên 3 triệu</span>
                  </div>
                </div>
                <div class="general-item">
                  <img src="/img/DM_20220618004520_002.svg" alt="">
                  <div>
                    <strong>Số lượng tuyển </strong> <br>
                    <span>5 người</span>
                  </div>
                </div>
                <div class="general-item">
                  <img src="/img/DM_20220618004520_003.svg" alt="">
                  <div>
                    <strong>Hình thức làm việc </strong> <br>
                    <span>Thực tập</span>
                  </div>
                </div>
                <div class="general-item">
                  <img src="/img/DM_20220618004520_004.svg" alt="">
                  <div>
                    <strong>Cấp bậc </strong> <br>
                    <span>Thực tập sinh</span>
                  </div>
                </div>
                <div class="general-item">
                  <img src="/img/DM_20220618004520_005.svg" alt="">
                  <div>
                    <strong>Giới tính </strong> <br>
                    <span>Không yêu cầu</span>
                  </div>
                </div>
                <div class="general-item">
                  <img src="/img/DM_20220618004520_006.svg" alt="">
                  <div>
                    <strong>Kinh nghiệm </strong> <br>
                    <span>Không yêu cầu kinh nghiệm</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="address bg-highlight">
              <h4>Địa điểm làm việc</h4>
              <p>- Hà Nội: Tòa HH1 - Dương Đình Nghệ - Cầu Giấy - HN, Cầu Giấy</p>
            </div>

            <div class="job-data">
              <h3>Mô tả công việc</h3>
              <div class="content">
                <p>
                  Quản trị hệ thống mạng trong Tập đoàn và các dự án về đô thị thông minh.
                  <br>
                  Nghiên cứu, đánh giá, thử nghiệm các giải pháp công nghệ mới liên quan đến hạ tầng CNTT: Network,
                  Server, Storage, Cloud Platform (Vmware, Hyper-V ...)...
                  <br>
                  Build Solution Network Infrastructure cho các dự án lớn của Tập đoàn.
                </p>
              </div>

              <h3>Yêu cầu ứng viên</h3>
              <div class="content">
                <p>
                  Sinh viên chính quy từ năm thứ 3 chuyên ngành CNTT, An toàn thông tin, Điện tử viễn thông các trường Đại
                  học.
                  <br>
                  Có ý thức cầu tiến, trung thực, trách nhiệm với công việc chung.
                  <br>
                  Yêu thích, có niềm đam mê lĩnh vực nghiên cứu phát triển CNTT.
                  <br>
                  Có kiến thức về mạng TCP/IP, Networking, Switch, Router...
                  <br>
                  Ưu tiên sinh viên đã hoàn thành khóa học/đạt các chứng chỉ chuyên ngành như CCNA, CCNP...
                </p>
                <p>
                  Sau khi đã được đào tạo đạt tới trình độ cao thì tiếp tục nghiên cứu, rèn luyện và làm việc tại Tập đoàn
                  sau khi ra trường. Thời gian làm việc tối thiếu 24 tháng tính từ thời điểm tốt nghiệp (đây là một yêu
                  cầu bắt buộc nên các bạn cần suy nghĩ kỹ trước khi đăng ký).
                </p>
              </div>

              <h3>Quyền lợi</h3>
              <div class="content">
                <p>
                  Môi trường làm việc hiện đại, chuyên nghiệp, có cơ hội thăng tiến và ổn định lâu dài.
                  <br>
                  Được đào tạo các kiến thức nền tảng Network, Storage...
                  <br>
                  Được chỉ bảo, dìu dắt bởi các Kỹ sư, Chuyên gia và các anh chị đi trước có nhiều kinh nghiệm.
                  <br>
                  Được tham gia tham gia vào các dự án thực tế.
                  <br>
                  Được xét làm Nhân viên học việc ngay trong thời gian thực tập mức hỗ trợ từ 3.000.000 - 6.000.000 VNĐ/Tháng.
                  <br>
                  Sau khi thực tập được ưu tiên tuyển dụng chính thức vào công ty mà không cần phải tham gia vòng sơ tuyển, thử việc.
                  <br>
                  Được tham gia các hoạt động tập thể mạng đậm nét văn hóa doanh nghiệp của Bkav, các kỹ năng mềm, kỹ năng sống và làm việc.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- /.recruitment-info .box-white -->

        <div class="recruitment-company-info box-white">
          <h2 class="title">Thông tin Công ty cổ phần Bkav</h2>
          <div class="box-body">
            <div class="box-item">
              <img src="/img/DM_20220618012138_001.svg" alt="">
              <div>
                <h4>Giới thiệu</h4>
                <div class="content">
                  <p>
                    BKAV là Tập đoàn công nghệ hoạt động trong các lĩnh vực an ninh mạng, phần mềm, chính phủ điện tử, nhà sản xuất smartphone và các thiết bị điện tử thông minh, cung cấp dịch vụ Cloud Computing. Bkav là 1 trong 10 thương hiệu Nổi tiếng nhất Việt Nam do Hội Sở hữu trí tuệ Việt Nam bình chọn, nằm trong Top 10 Dịch vụ hoàn hảo do Hội Tiêu chuẩn &amp; Bảo vệ Người tiêu dùng Việt Nam bình chọn.
                  </p>
                  <p>
                    Bkav là doanh nghiệp đầu tiên của Việt Nam lọt vào Danh sách các công ty hấp dẫ n (Cool Vendors) tại các thị trường mới nổi trên toàn cầu do Gartner, hãng tư vấn CNTT hàng đầu thế giới công bố. Tập đoàn đã thành lập Bkav Singapore.</p>
                </div>
              </div>
            </div>
            <div class="box-item">
              <img src="/img/DM_20220618012138_002.svg" alt="">
              <div>
                <h4>Quy mô</h4>
                <div class="content">
                  <p>100-499 nhân viên</p>
                </div>
              </div>
            </div>
            <div class="box-item">
              <img src="/img/DM_20220618012138_003.svg" alt="">
              <div>
                <h4>Địa điểm</h4>
                <div class="content">
                  <p>Tòa HH1 - Dương Đình Nghệ - Cầu Giấy - Hà Nội</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="job-listing box-white">
          <h2 class="title">Tuyển dụng</h2>
          <div class="box-body">
            <div class="col-md-12">
              <div class="feature-jobs-item bg-highlight">
                <div class="left-infor avatar">
                  <img src="/img/DM_20220618001231_001.jpg" alt="">
                </div>
                <div class="right-infor">
                  <div class="top-infor">
                    <div class="mr-auto job-company">
                      <div class="job-title">Kỹ sư lập trình nhúng</div>
                      <div class="company">Công ty Cổ phần BKAV</div>
                    </div>
                    <div class="ml-auto deadline">
                      Còn <strong>12</strong> ngày để ứng tuyển
                    </div>
                  </div>
                  <div class="bot-infor d-flex flex-row">
                    <div class="label mr-auto d-flex flex-row ">
                      <div class="salary">Thỏa thuận</div>
                      <div class="address">Hà Nội</div>
                      <div class="time">4 tuần trước</div>
                    </div>
                    <a class="icon-heart ml-auto">
                      <i class="fa fa-heart-o" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="feature-jobs-item bg-highlight">
                <div class="left-infor avatar">
                  <img src="/img/DM_20220618001231_001.jpg" alt="">
                </div>
                <div class="right-infor">
                  <div class="top-infor">
                    <div class="mr-auto job-company">
                      <div class="job-title">Tester</div>
                      <div class="company">Công ty Cổ phần BKAV</div>
                    </div>
                    <div class="ml-auto deadline">
                      Còn <strong>12</strong> ngày để ứng tuyển
                    </div>
                  </div>
                  <div class="bot-infor d-flex flex-row">
                    <div class="label mr-auto d-flex flex-row ">
                      <div class="salary">Thỏa thuận</div>
                      <div class="address">Hà Nội</div>
                      <div class="time">2 tuần trước</div>
                    </div>
                    <div class="icon-heart ml-auto">
                      <i class="fa fa-heart-o" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.detail -->
    </div>
  </div>
  </div>

  <div class="footer include-html" data-file="../partials/footer.html"></div>


  <script src="/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/util/aes.js"></script>
  <script type="module" src="/js/recruitment.js"></script>
</body>

</html>