<!-- <ul>
    <li class="active">
        <a href="#submenu_0" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle menu-link">Menu1</a>
        <ul class="collapse list-unstyled" id="submenu_0">
            <li><a href="#" class="active submenu-link">Submenu1</a></li>
            <li><a href="#" class="submenu-link">Submenu3</a></li>
            <li><a href="#" class="submenu-link">Submenu2</a></li>
        </ul>
    </li>
    <li><a href="#" class="menu-link">Menu2</a></li>
    <li><a href="#" class="menu-link">Menu2</a></li>
</ul> -->