<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap">

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
    <div class="header include-html" data-file="partials/header.html"></div>
    <div class="sidebar-with-content">
        <div class="sidebar pt-2 include-html" data-file="partials/sidebar.html"></div>
        <div class="main-content" >
            <h1>Main content</h1>
            <h1>Main content</h1>
            <h1>Main content</h1>
            <h1>Main content</h1>
            <h1>Main content</h1>
            <h1>Main content</h1>
            <h1>Main content</h1>
            <h1>Main content</h1>
            <h1>Main content</h1>
            <h1>Main content</h1>
            <h1>Main content</h1>
            <h1>Main content</h1>
            <h1>Main content</h1>
            <h1>Main content</h1>
            <h1>Main content</h1>
            <h1>Main content</h1>
            <h1>Main content</h1>
            <h1>Main content</h1>
            <h1>Main content</h1>
            <h1>Main content</h1>
            <h1>Main content</h1>
            <h1>Main content</h1>
            <h1>Main content</h1>
            <h1>Main content</h1>
            <h1>Main content</h1>
            <h1>Main content</h1>
            <h1>Main content</h1>
            <h1>Main content</h1>
            <h1>Main content</h1>
            <h1>Main content</h1>
        </div>
        <!-- <div class="footer include-html" data-file="partials/footer.html"></div> -->
    </div>
    
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js" type="module"></script>
</body>

</html>